
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* =============================== VARIABEL =============================== */
:root {
    --warna-utama: #399918;
    --pendukung: #ECFFE6;
    --hover: #D5ED9F;
    --tinggi-gambar-card: 180px;
    --lebar-gambar-card: 100%;
    --lebar-card: 180px ;
}
body {
    font-family: "Quicksand", sans-serif;
   
    overflow-x: auto;
    background-color: #FFF7FC;
}

/* ======================================================================== */



/* =============================== REBOOT STYLE BOOTSTRAP =============================== */
.bg-success,.btn-success {
    background-color: var(--warna-utama) !important;
}

.offcanvas {
    height: 70vh !important;
}
/* ======================================================================== */




/* =============================== NAVBAR =============================== */
nav input:focus {
   outline: 0;
}

/* ======================================================================== */





/* =============================== CAROUSEL =============================== */

.carousel img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
/* ======================================================================== */



/* =============================== KATEGORI =============================== */

.kotak-kategori {
    width: 90px;
    height: 90px;
    background-color: var(--pendukung);
    transition: 0.2s;
}
.kotak-kategori img {
    width: 48px;
    height: 48px;
}


.kotak:hover .kotak-kategori {
    background-color: var(--hover);
}
/* ======================================================================== */


/* =============================== PROMO =============================== */

.promo {
    width: 85%;
    background-color: var(--hover);
    overflow-x: auto;
}
.kotak-promo {
    min-width: 600px;
}
.card img {
    width: var(--lebar-gambar-card);
    height: var(--tinggi-gambar-card);
    object-fit: cover;
}
.card {
    width: var(--lebar-card) !important;
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 8px 16px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: translateY(-4px);
}
.card span {
    font-size: 13px;
}


/* ======================================================================== */





.detail-produk {
    width: 80%;
}

.co {
    width: 100%;
    height: fit-content;
}


.img-utama {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.img-kecil {
    width: 122px;
    height: 125px;
    object-fit: cover;
}
.img-co {
    width: 100px;
    height: 100px;
    object-fit: cover;
}






@media screen and (max-width: 767px) { 

    .kotak-kategori {
        width: 80px;
        height: 80px;
    }
    .kotak-kategori img {
        width: 30px;
        height: 30px;
    }
    .promo {
        width: 100%;
    }
    .detail-produk {
        width: 100%;
    }
    
    .img-utama {
        width: 300px;
        height: 300px;
    }
    .img-kecil {
        width: 100%;
        height: 85px;
    }
    .img-co {
        width: 100px;
        height: 100px;
    }
    .co {
        width: 100%;
        height: fit-content;
    
    }
 }


@media screen and (min-width: 768px) and (max-width:991px){ 
    .kotak-kategori img {
        width: 30px;
        height: 30px;
    }
    .promo {
        width: 100%;
    }
 }


@media screen and (min-width: 992px) and (max-width:1199px){ 
 .promo {
        width: 100%;
    }
 }


@media screen and (min-width: 1200px) and (max-width:1399px) { 
    .promo {
        width: 100% ;
    }
 }

